body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: #98ff98;
}
header{
    padding: 20px;
    height: 20px;
    background-color: black;
}
header ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;   
}  
header ul li a{
    text-decoration: none;
    list-style: none;
    padding: 20px;
    color: white    ;
} 
 .logo a img{
    display: block; 
    text-indent: -9999px;
    float: left; 
    width: 70px; 
    height: 50px;
    margin-top: -15px;
    margin-right: -30px;
}

div{
    margin-bottom: 100px;
    text-align: center;
}
footer{
    background-color: #666;
}
footer ul li{
    padding: 10px 20px;
    background: #666;
    color: white;
    display: inline-block;
} 
header section div{
    margin-bottom: 20px;
    background-color: white;
}