body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    padding: 20px;
    height: 20px;
    background-color: black;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
}
header ul li{

}
 .logo a{
    background-color: #cccccc;
    display: block; 
    text-indent: -9999px;
    float: left; 
    width: 300px; 
    height: 10px;
    padding: 10px;
    margin-left: 50;
}
ul li a{
    list-style: none;
    margin-left: 50px;
    padding: 0;
}
div{
    margin-bottom: 100px;
    text-align: center;
}